header{
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 56%;
    border: 5px solid #fff;
}

/*.space{
     width: 650px;
     margin-left: 80px;

}*/
.side{
    margin-left: 80px;
    margin-bottom: 30px;
}
/*.fix{
    width: 650px;
    margin-left: 80px;
}*/

/*.set{
     margin-left: 80px;
     margin-bottom: 30px;
}

.tur{
    margin-left: 80px;
     margin-bottom: 30px;  
}*/

.menu{
    margin-top: -1px;
    background-color: #000;
    color: #fff;
    width: 150px;
    padding: 40px;
}

.menu a{
    text-decoration: none;
    color:#fff;
}

.lineup{
    list-style: none;
    margin-bottom: 30px;
}

body{
    margin: 0;
}

.k{
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.skills_job{
    margin-left: 80px;
}

.header-container{
    display: flex;
    flex-direction: row; 
    gap: 4rem;
    justify-content: space-around;
}

.about-education {
    display: flex;
    align-items: center;
    margin-top:-2rem;
    padding: 0.5rem;
    gap: 1.5rem;
}

.jobs {
    display: flex;
    border: 1px solid #000;
    gap: 6rem;
    padding: 3px;
}

.list_skills {
    display: flex;
    list-style: none;
    gap: 5px;
}

.list_skills li {
    border: 1px solid #000;
    border-radius: 100px;
    padding: 0.10rem;
}

.experience {
    margin-top: -22px;
}

footer {
    background-color: blue;
    color:#fff;
}

.the-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.hero {
    background-image: url("Images/proffesional.jpg");
    background-color: #f7f7f7; /* fallback color */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    color: #fff;
  }
  .hero-content img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  @media screen and (max-width:769px) {
    .header-container{
        display: flex;
        flex-direction: column;
    }

    .about-education {
        display: flex;
        flex-direction: column;
    }

    .jobs {
        display: flex;
        flex-direction: column;
        border: 0px;
        gap: 1.5px;
    }
  }